{% extends "layout.html" %}

{% block content %}

<section class="adopt-page">

<h1>Meet Our Rescues</h1>

<div class="dog-grid">

<div class="dog-card">

<img src="/static/images/dog1.jpg">

<div class="dog-info">

<h3>Rocky</h3>

<p>Age: 2 years</p>
<p>Vaccinated: Yes</p>

<button class="btn-primary">Adopt</button>

</div>

</div>


<div class="dog-card">

<img src="/static/images/dog2.jpg">

<div class="dog-info">

<h3>Luna</h3>

<p>Age: 1 year</p>
<p>Vaccinated: Yes</p>

<button class="btn-primary">Adopt</button>

</div>

</div>

</div>

</section>

{% endblock %}