{% extends "layout.html" %}

{% block content %}

<div class="form-container">

<h1>Become a Volunteer</h1>

<form method="POST">

<div class="input-group">
<label>Name</label>
<input type="text" class="form-control" name="name" required>
</div>

<div class="input-group">
<label>Email</label>
<input type="email" class="form-control" name="email" required>
</div>

<div class="input-group">
<label>Phone</label>
<input type="tel" class="form-control" name="phone" required>
</div>

<div class="input-group">
<label>Skills</label>
<textarea class="form-control" name="skills" required></textarea>
</div>

<button class="btn btn-dark w-100 mt-3" class="submit-btn">Join Pehchaan</button>

</form>

</div>

{% endblock %}